@namespace DExpressClone.Components.Editors.DxComboBox.Internal
@typeparam TData
@typeparam TValue
@inherits DExpressClone.Components.Core.DxComponentBase

<div class="@DropdownCssClass">
    @{
        var itemsList = Items as IList<TData> ?? Items.ToList();
        var hasItems = false;
    }
    @for (int i = 0; i < itemsList.Count; i++)
    {
        hasItems = true;
        var currentItem = itemsList[i];
        var currentIndex = i;
        <div class="@GetCssClass(currentItem, currentIndex)"
             @onclick="() => HandleItemClickAsync(currentItem)">
            @if (ItemTemplate is not null)
            {
                @ItemTemplate(currentItem)
            }
            else
            {
                @GetText(currentItem)
            }
        </div>
    }

    @if (!hasItems)
    {
        <div class="dx-combobox-no-data">No data to display</div>
    }
</div>
