<!DOCTYPE html>
<html lang="en" data-dx-theme="light">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DExpressClone Demo - Server</title>
    <base href="/" />
    <link rel="stylesheet" href="_content/DExpressClone.Components/css/dx-all.min.css" />
    <link rel="stylesheet" href="css/app.css" />
    <HeadOutlet />
</head>
<body>
    <Routes />
    <script src="_content/DExpressClone.Components/js/dx-interop.js"></script>
    <script src="_framework/blazor.web.js"></script>
</body>
</html>
